<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Política de Privacidade</h2>
      <p>Na [Nome da Sua Empresa], respeitamos a sua privacidade e estamos comprometidos em proteger suas informações pessoais. Esta Política de Privacidade explica como coletamos, usamos e protegemos os dados pessoais que você fornece ao utilizar nosso site.</p>
      <h3>Informações que Coletamos</h3>
      <p>Ao usar nosso site, podemos coletar certas informações pessoais, como nome, endereço de e-mail, número de telefone e outras informações que você nos fornece voluntariamente através de formulários de contato ou ao se cadastrar em nossa newsletter.</p>
      <h3>Como Usamos Suas Informações</h3>
      <p>As informações pessoais que coletamos são usadas para fornecer os serviços solicitados, processar transações, enviar comunicações de marketing, melhorar nosso site e atender às suas necessidades de forma mais eficaz.</p>
      <h3>Divulgação a Terceiros</h3>
      <p>Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros sem seu consentimento, exceto quando exigido por lei ou para cumprir com os objetivos estabelecidos nesta Política de Privacidade.</p>
      <h3>Segurança das Informações</h3>
      <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição.</p>
      <h3>Alterações na Política de Privacidade</h3>
      <p>Reservamo-nos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento, e essas alterações serão publicadas nesta página.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h2 class="page-header">Termos de Uso</h2>
      <h3>Uso do Site</h3>
      <p>Você concorda em usar nosso site apenas para fins legais e de acordo com estes Termos de Uso.</p>
      <h3>Propriedade Intelectual</h3>
      <p>Todo o conteúdo do site, incluindo textos, imagens, logotipos, e outros materiais, são propriedade da [Nome da Sua Empresa] e estão protegidos por leis de direitos autorais e outras leis de propriedade intelectual.</p>
      <h3>Links para Terceiros</h3>
      <p>Nosso site pode conter links para sites de terceiros que não estão sob nosso controle. Não nos responsabilizamos pelo conteúdo ou práticas de privacidade desses sites.</p>
      <h3>Limitação de Responsabilidade</h3>
      <p>Em nenhuma circunstância a [Nome da Sua Empresa] será responsável por danos diretos, indiretos, consequenciais, incidentais ou especiais decorrentes do uso ou incapacidade de usar nosso site.</p>
      <h3>Alterações nos Termos de Uso</h3>
      <p>Reservamo-nos o direito de atualizar ou modificar estes Termos de Uso a qualquer momento, e essas alterações serão efetivas imediatamente após serem publicadas nesta página.</p>
      <p>Ao continuar a utilizar nosso site, você concorda em cumprir com estes Termos de Uso e com nossa Política de Privacidade.</p>
    </div>
  </div>
</div>
