<!-- Seção de Informações -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Sobre a EquipoRent</h2>
      <p>Bem-vindo à <strong>EquipoRent</strong>, sua fonte confiável para aluguel de equipamentos por mais de duas
        décadas. Desde o
        nosso início modesto há mais de 20 anos, nos estabelecemos como líderes no mercado, oferecendo uma ampla gama
        de equipamentos, desde os mais simples até os mais sofisticados, a preços competitivos.</p>
      <p>Na <strong>EquipoRent</strong>, entendemos que cada projeto é único e requer soluções personalizadas. É por
        isso que nos
        dedicamos a oferecer uma experiência de aluguel simples e sem complicações, adaptada às necessidades
        individuais de cada cliente. Nossa equipe experiente está sempre pronta para orientá-lo na escolha dos
        melhores equipamentos para o seu projeto, garantindo eficiência e sucesso em cada empreendimento.</p>
      <p>No <strong>EquipoRent</strong>, acreditamos que o sucesso de nossos clientes é o nosso sucesso. Estamos
        comprometidos em fornecer soluções de aluguel de equipamentos que ajudem a impulsionar seus projetos para
        frente, independentemente da sua complexidade ou escala.</p>
      <p>Explore nosso site para descobrir mais sobre nossa ampla gama de serviços e entre em contato conosco hoje
        mesmo para saber como podemos ajudá-lo a atingir seus objetivos de forma eficaz e econômica.</p>
      <p>Obrigado por escolher a <strong>EquipoRent</strong>. Estamos ansiosos para trabalhar com você!</p>
    </div>
    <div class="col-md-6">
      <img src="https://via.placeholder.com/500" alt="Sobre Nós" class="img-fluid">
    </div>
  </div>
</section>

