@import 'bootstrap';

.blue-header {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #343a40;
}
.sidebar .nav-link {
  color: white;
}
.sidebar .dropdown-menu {
  background-color: #343a40;
}
.sidebar .dropdown-item {
  color: red;
}
.card-img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}
