<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1><%= yield :header %></h1>
      </div>
      <div class="email-body">
        <%= yield %>
      </div>
      <div class="email-footer">
        <p></p>
      </div>
    </div>
  </body>
</html>
